@charset "utf-8";
*{ 
	margin: 0px;
}

.logo{
	padding-bottom: 20px;
	padding-top: 20px;
}

.header{
	background-color: gray;
	
	
}
img{
	object-position: center;
	margin-bottom: 50px;
	display:block;
	margin:auto;
	padding-bottom: 50px;
	padding-top: 50px;
}

iframe{
	object-position: center;
	display: block;
	margin: auto;
	padding-bottom: 30px;
	padding-top: 50px;
}
.frase{
	text-align: center;
	font-family: "Century Gothic";
	font-size: 2em;
	display: block;
	margin: auto;
	padding-bottom: 50px;
	padding-top: 50px;
}
.titulo{
	text-align: center;
	font-family: "Century Gothic";
	font-size: 3em;
	display: block;
	margin: auto;
	padding-bottom: 10px;
	padding-top: 10px;
}

.subtitulos{
	text-align: left;
	font-family: "Century Gothic";
	font-size: 1.5em;
	display: block;
	margin: auto;
	padding-bottom: 30px;
	padding-top: 10px;
}


.cuerpotexto{
	text-align: justify;
	font-family: "Century Gothic";
	font-size: 1.5em;
	display: block;
	margin: auto;
	padding-bottom: 30px;
	padding-top: 30px;
}
.subtitulos2{
	text-align: center;
	font-family: "Century Gothic";
	font-size: 1.5em;
	display: block;
	margin: auto;
	padding-bottom: 30px;
	padding-top: 30px;
}

.circuloLink:hover{
	-webkit-filter: grayscale(100%);filter: grayscale(100%);
}
hr{
	clear: both;
	border-width: 10px;
	padding-top: 30px;
}
.gris{
	border-color: gray;
}
.verde{
	border-color: #95C11F;
}
.celeste{
	border-color: #36A9E1;
}
.violeta{
	border-color: #662483;
}
.naranja{
	border-color: #F39200;
}
.btn{
	float: right;
	margin-bottom: 30px;
	background-color: gray;
	color: white;
	font-family: "Century Gothic";
}

glyphicon glyphicon-star-empty{
	height: 100px;
}